<ion-view view-title="{{ 'DASHBOARD' | translate }}">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">{{ 'RECENT_UPDATES' | translate }}</div>
      <div class="item item-body">
        <div>
          {{ 'RECENT_UPDATES_TEXT' | translate}}
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">{{ 'HEALTH' | translate }}</div>
      <div class="item item-body">
        <div>
          {{ 'HEALTH_TEXT' | translate }}
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">{{ 'UPCOMING' | translate }}</div>
      <div class="item item-body">
        <div>
          {{ 'UPCOMING_TEXT' | translate }}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
